// Static process resource allocation here
// Specific for each node type - F16 here

process {
    withName: run_depth_SAMtools {
        cpus = 1
        memory = 1.GB
        // Other process-specific allocations here
    }
}

process {
    withName: run_BedToIntervalList_picard {
        cpus = 1
        memory = 3.GB
        // Other process-specific allocations here
    }
}

process {
    withName: run_CollectHsMetrics_picard {
        cpus = 1
        memory = 25.GB
        // Other process-specific allocations here
    }
}

process {
    withName: convert_depth_to_bed {
        cpus = 1
        memory = 1.GB
        // Other process-specific allocations here
    }
}

process {
    withName: run_depth_filter {
        cpus = 1
        memory = 1.GB
        // Other process-specific allocations here
    }
}

process {
    withName: run_slop_BEDtools {
        cpus = 1
        memory = 1.GB
        // Other process-specific allocations here
    }
}

process {
    withName: run_intersect_BEDtools {
        cpus = 1
        memory = 1.GB
        // Other process-specific allocations here
    }
}

process {
    withName: merge_bedfiles_BEDtools {
        cpus = 1
        memory = 1.GB
        // Other process-specific allocations here
    }
}

process {
    withName: run_merge_BEDtools {
        cpus = 1
        memory = 1.GB
        // Other process-specific allocations here
    }
}