// Static process resource allocation here
// Specific for each node type - F72 here

process {
    withName: run_depth_SAMtools {
        cpus = 1
        memory = 1.GB
    }

    withName: run_BedToIntervalList_picard {
        cpus = 1
        memory = 3.GB
    }

    withName: run_CollectHsMetrics_picard {
        cpus = 1
        memory = 100.GB
    }

    withName: convert_depth_to_bed {
        cpus = 1
        memory = 1.GB
    }

    withName: run_depth_filter {
        cpus = 1
        memory = 1.GB
    }

    withName: run_slop_BEDtools {
        cpus = 1
        memory = 1.GB
    }

    withName: run_intersect_BEDtools {
        cpus = 1
        memory = 1.GB
    }

     withName: merge_bedfiles_BEDtools {
        cpus = 1
        memory = 1.GB
    }

    withName: run_merge_BEDtools {
        cpus = 1
        memory = 1.GB
    }
}
